<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body ng-app="myApp" ng-controller="myController">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span class="navbar-brand" href="#">Hacker News</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <span class="nav-link" aria-current="page" ng-click="filter('story')">Top Stories</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" ng-click="filter('job')">Jobs</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="list-group my-5">
        <a class="list-group-item list-group-item-action" aria-current="true"
            ng-repeat="story in data | limitTo:30:start" ng-href="{{story.url}}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{$index+1+start}}. {{story.title}}</h5>
                <small>{{convertDate(story.time)}}</small>
            </div>
            <p class="mb-1">by {{story.by}}</p>
            <small>{{story.score}} points | {{story.descendants}} comments</small>
        </a>
        <div class="text-center my-5">
            <button type="button" class="btn btn-outline-info px-5" ng-click="previousPage()">Prev</button>
            <button type="button" class="btn btn-outline-info px-5" ng-click="nextPage()">Next</button>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>